<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Server" value ="200.100.100.227"/>
    <add key="DBNane" value ="Siix_check_serial"/>
    <add key="User" value ="sa"/>
    <add key="PW" value ="siix@123456"/>
    <add key="PoolSize" value ="40000"/>
    <add key="Timeout" value ="30000"/>
    <add key="Process" value ="Function NHL"/>
    <add key="Customer" value ="Transtron"/>
    <add key="CLIENT" value ="DevTest99"/>
    <add key="pahtFileLog" value ="D:\FCT Transtron\NHL\"/>
    <add key="rowSelect" value ="15"/>
    <add key="cycleTime" value ="60"/>
  </appSettings>
</configuration>